.streamlit/secrets.toml

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/

# Streamlit secrets
.secrets.toml
*.json

# VSCode / PyCharm settings
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db
